.main_total {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    text-align: right;
    color: #F2F2F2;
    width: 460px;
    height: 76px;
    margin-bottom: 18px;
}